.buttonGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 500px;
    /* align-items: center; */
    margin: auto;
  }
  
  .rowsCols {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: blue; */
  }
  